configuration {
	modi: "calc,drun,window,shortcuts:/home/anno/coding/bash-script/short_rofi/rofi-shortcut.sh";
	font: "SourceHanSans 12";
	show-icons: true;
	terminal: "xfce4-terminal";
	icon-theme: "Numix-Circle";
	cycle: true;
	sidebar-mode: true;
	kb-move-word-back: "Alt+b";
	kb-move-word-forward: "Alt+f";
	kb-mode-next: "Control+Right";
	kb-mode-previous: "Control+Left";
	kb-cancel: "Escape";
}
@theme "/home/anno/.config/rofi/Andranux.rasi"
